---
import "../../styles/poop.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>postdog site</title>
  </head>
  <body>
    <!-- new easter egg -->
    <img
      class="easter-egg"
      src="https://i.pinimg.com/236x/2c/3b/fd/2c3bfd57ba4e45d32901fd24629ddac5.jpg"
      alt="Easter egg image"
    />

    <section class="music">
      <audio autoplay loop class="music">
        <source
          src="/audio/302yabujin.mp3"
          type="audio/mpeg"
        />
      </audio>
    </section>
  </body>
</html>
