---
import "../../styles/game.css"; 
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>postdog RPG</title>
  </head>
  <body> 
    <div class="game-container-wrapper"> 
      
      <h1 class="game-title">arcade</h1>
      
      <section class="game-display">
        <div id="game-board">... Game Interface ...</div>
      </section>
      
      <a href="/blog/credits" class="back-link">← Back</a>
      
    </div>
  </body>
</html>