---
import "../styles/contact.css";
---

<!-- Netlify Contact Form -->
<div class="blog-layout">

  <div class="contact-form" style="grid-column: 1/ 3;"> 
    
    <form
      name="contact"
      method="POST"
      data-netlify="true"
      action="/thank-you"
    >
      <input type="hidden" name="form-name" value="contact" />
      <img 
        src="https://see.fontimg.com/api/rf5/r09p/M2Y4NjQzNmE4ODk1NGVmYzkxODFhMzIzYTdkYmQxNjIudHRm/Q29udGFjdCBVcw/ginga.png?r=fs&h=304&w=2000&fg=000000&bg=FFFFFF&tb=1&s=152"
        alt="Contact Us"
        class="contact-image"
        onerror="this.src='https://placehold.co/150x150/fcf6e7/4a2c13?text=Contact+Image'"
      />

      <label>
        Name:
        <input type="text" name="name" required />
      </label>

      <label>
        Email:
        <input type="email" name="email" required />
      </label>
      
      <label>
        Subject:
        <input type="subject" name="subject" required />
      </label>

      <label>
        Message:
        <textarea name="message" rows="5" required></textarea>
      </label>

      <button type="submit" class="submit-button">Send</button>
    </form>
  </div>
  
  <button class="back-button" onclick="history.back()" style="grid-column: 2/ 3;">Back</button>
</div>
