<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<p>i love music. i love music more than i love life. music is one of my top reasons to live. i do whatever it takes to make music. I love it. i love listening to it and creating it and playing shows. I love you. I love you. I love you. But not as much as i love music. I live to experience music. If there was no music, maybe I would have less of a reason to live.</p>

</body>
</html>
