---
import "../styles/contact.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>thanks</title>
  </head>
  <body class="thankyou-body">
    <div class="thankyou-container">
      <h1>thanks!</h1>
      <p>
        we'll get back to you asap ♡ˎˊ˗
      </p>

      <p class="back-home">
        <a href="/" class="back-link">← Back to Home</a>
      </p>

      <p class="suggestion">
        ₊˚⊹♡
      </p>
    </div>
  </body>
</html>