---
import "../../styles/weird.css";
---
<!--I decided to remove this because the easter egg was too scary-->
<!--Keeping it archieved though, because i like it xP -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dream Time Secrets</title>
  </head>
  <body>
    <main class="layout">
      <nav class="navbox">
        <a href="" class="nav">HOME</a>
        <a href="" class="nav">MUSIC</a>
        <a href="" class="nav">BLOG</a>
        <a href="" class="nav">SHOWS</a>
        <a href="" class="nav">CONTACT</a>
      </nav>

      <section class="content">
        <h1><span class="pink-text">postdog</span></h1>
        <p>
          <span class="white-text">you did it. you found us. </span><br />
          <span class="pink-text">yay!</span><br />
        </p>

        <h2>ꨄ𐔌՞. .՞𐦯 </h2>
        <p>
          <!-- <b>bold</b> <u>underline</u> <i>italic</i> <a href="www.createblog.com">links</a>. -->
           shoegaze music from <span class="pink-text">rockville, md</span><br />
           <br />
           𓆝 𓆟 𓆞 𓆝 𓆟<br />
        </p>
      </section>

      <section class="music">
        <marquee scrollamount="3">you are listening to <i>⋆˚✿˖°ragdoll⋆˚✿˖°</i></marquee>
        <marquee scrollamount="2" direction="right">by <b>postdog ૮˶• ﻌ •˶ა</b></marquee>
        <audio controls autoplay loop hidden>
          <source
            src="/audio/ragdoll_butsexy.mp3"
            type="audio/mpeg"
          />
        </audio>
        <audio controls autoplay loop >
          <source
            src="bruh.mp3"
            type="audio/mpeg"

          />
        </audio>
      </section>
      <section class ="music">
        <!-- this is so fun to make xd -->
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="10">Y2FuIHlvdSBzZWUgbWU/CmkgY2FudCBoZWFyIGFueXRoaW5nCmkgY2FudCBmZWVsIGFueXRoaW5nCg==</i></marquee>
        <marquee scrollamount="10">Y2FuIHlvdSBzZWUgbWU/CmkgY2FudCBoZWFyIGFueXRoaW5nCmkgY2FudCBmZWVsIGFueXRoaW5nCg==</i></marquee>
        <marquee scrollamount="10">Y2FuIHlvdSBzZWUgbWU/CmkgY2FudCBoZWFyIGFueXRoaW5nCmkgY2FudCBmZWVsIGFueXRoaW5nCg==</i></marquee>
        <marquee scrollamount="10">Y2FuIHlvdSBzZWUgbWU/CmkgY2FudCBoZWFyIGFueXRoaW5nCmkgY2FudCBmZWVsIGFueXRoaW5nCg==</i></marquee>
        <marquee scrollamount="10">Y2FuIHlvdSBzZWUgbWU/CmkgY2FudCBoZWFyIGFueXRoaW5nCmkgY2FudCBmZWVsIGFueXRoaW5nCg==</i></marquee>
        <marquee scrollamount="10">Y2FuIHlvdSBzZWUgbWU/CmkgY2FudCBoZWFyIGFueXRoaW5nCmkgY2FudCBmZWVsIGFueXRoaW5nCg==</i></marquee>
        <marquee scrollamount="10">Y2FuIHlvdSBzZWUgbWU/CmkgY2FudCBoZWFyIGFueXRoaW5nCmkgY2FudCBmZWVsIGFueXRoaW5nCg==</i></marquee>
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="10">Z3JheSBleWVzLApoaXMgZXllcywKaSB3YW50IHRvIHRyeSAKZ2F1Z2Ugb25lIG91dAp0YXJuaXNoZWQgc2tpbgo=</i></marquee>
        <marquee scrollamount="8">TE1BTwo=</i></marquee>
      </section>
    </main>
  </body>
</html>